.main-card {
    margin-top: 50px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    width: 35%;
    min-width: 480px;
}

.goal-card {
    margin-top: 10px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: solid #558b2f 2px;
    border-radius: 6px;
    display: inline-block;
    width: 90%;
}

.secondary-card {
    margin-top: 10px;
    padding: 0px;
    border: solid #558b2f 2px;
    border-radius: 6px;
    display: inline-block;
    width: 90%;
}

.main-card-title {
    background: #252525;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 10px;
}

.goal-card-title {
    margin: 0px;
    background: #252525;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 5px;
    font-size: 20px;
}

.secondary-card-title {
    background: #252525;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 5px;
    margin: 0px;
    font-size: 22px;
}

.main-card-content {
    padding: 20px;
    padding-bottom: 0px;
}

.date-form {
    max-width: 50%;
    text-align: center;
}

.form-field {
    min-width: 150px;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.accent {
    color: #ffab00;
}

.goal-container {
    width: 33.33%;
}

.goal-form-field {
    margin-top: 5px;
    min-width: 110px;
    width: 85%;
}

.bmr-component-container {
    width: 100%;
    font-size: 16px;
}

.label-container {
    background: #353535;
    padding: 6px;
}

.value-container {
    padding: 6px;
}

.button-container {
    padding-top: 20px;
}

:host ::ng-deep .mat-radio-container {
    height: 14px;
    width: 14px;
}

:host ::ng-deep .mat-radio-outer-circle {
    height: 14px;
    width: 14px;
}

:host ::ng-deep .mat-radio-inner-circle {
    height: 14px;
    width: 14px;
}

:host ::ng-deep .mat-radio-button .mat-radio-ripple {
    height: 28px;
    width: 28px;
    left: calc(50% - 14px);
    top: calc(50% - 14px);
    overflow: visible;
}