<div class="center">
    <app-datepicker></app-datepicker>
</div>
<div class="center information-container" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutAlign="space-evenly">
        <app-general-progress [progress]="overallProgress" label="OVERALL PROGRESS"></app-general-progress>
        <app-general-progress [progress]="calorieAmount/calorieTarget*100" label="CALORIE PROGRESS"></app-general-progress>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="targets-container card-with-toolbar no-bottom-padding">
            <mat-card-title class="card-toolbar">
                HIGHLIGHTED TARGETS
            </mat-card-title>
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-evenly">
                    <app-elementary-progress *ngIf="highlightedTarget1" [highlightedTarget]="highlightedTarget1"></app-elementary-progress>
                    <app-elementary-progress *ngIf="highlightedTarget2" [highlightedTarget]="highlightedTarget2"></app-elementary-progress>
                    <app-elementary-progress *ngIf="highlightedTarget3" [highlightedTarget]="highlightedTarget3"></app-elementary-progress>
                    <app-elementary-progress *ngIf="highlightedTarget4" [highlightedTarget]="highlightedTarget4"></app-elementary-progress>
                    <app-elementary-progress *ngIf="highlightedTarget5" [highlightedTarget]="highlightedTarget5"></app-elementary-progress>
                    <app-elementary-progress *ngIf="highlightedTarget6" [highlightedTarget]="highlightedTarget6"></app-elementary-progress>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="targets-container card-with-toolbar">
            <mat-card-title class="card-toolbar">
                CALORIE OVERVIEW
            </mat-card-title>
            <app-calorie-overview></app-calorie-overview>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <app-general-nutrient-details class="targets-container"></app-general-nutrient-details>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <app-carbohydrates-details class="targets-container"></app-carbohydrates-details>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <app-lipids-details class="targets-container"></app-lipids-details>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <app-protein-details class="targets-container"></app-protein-details>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <app-vitamin-details class="targets-container"></app-vitamin-details>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <app-mineral-details class="targets-container"></app-mineral-details>
    </div>
</div>
