.mat-card {
    margin-top: 50px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    width: 35%;
    min-width: 500px;
}

.mat-card-title {
    background: #252525;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 10px;
}

.mat-card-subtitle {
    margin: 0px;
    padding-top: 10px;
    font-size: 16px;
}

.mat-card-content {
    padding: 20px;
    padding-bottom: 0px;
}

.mat-form-field {
    width: 100%;
}

.index {
    font-size: 20px;
    padding-bottom: 17px;
}