<div class="container" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <app-dish-button-container class="button-container">
        </app-dish-button-container>

        <app-exercise-button-container class="button-container">
        </app-exercise-button-container>

        <app-note-button-container class="button-container">
        </app-note-button-container>
    </div>
    <div class="entries-container" fxLayout="row">
        <app-entries-container></app-entries-container>
    </div>
</div>