html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.vertical-space {
    margin-bottom: 3em;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}